.container {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    font-family: Arial, sans-serif;
    justify-items: center;
    row-gap: 5px;
}

.playerSelect {
    display: flex;
    justify-content: center;
    width: 100%;

    margin-bottom: 50px;
}

.playerSelect > :not(:last-child) {
    margin-right: 2rem;
}

.selected {
    text-decoration: line-through;
}

.gamePiece {
    width: 80%;
    height: 90%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #0000001c;

    box-shadow: 0 5px 8px 1px #d3d0d0;

    cursor: pointer;
}

.greenCard {
    background-color: greenyellow;
    color: black;
}

.blueCard {
    background-color: blue;
    color: white;
}

.normalCard {
    background-color: #e8d9ce;
    color: black;
}

.assassinCard {
    background-color: black;
    color: white;
}

.button {
    background-color: black;
    color: white;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    padding: 10px 23px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 2px 8px 1px #d6d6d6;
}

